.about__intro {
     background: $lightgrey-background;
     min-height: 50vh;

     p, h2 {
max-width: 900px;
margin: auto;
     }
}
.about__willehad {
     min-height: 50vh;
}
.over-willehad__image {
     box-shadow: 20px 20px $lightgold;
}
.over-willehad img {
     filter: grayscale(100) !important;
}