.contact a {
 display: inline-block;
 color: $accent;
}
.background-dark {
    background-color: $lightgrey-background;
    border-radius: 2px;
}
.contact label {
     font-family: $sans-serif;
  font-weight: 300;
    font-size: 20px;
}
.contact p {
    color: $accent;
}