

.curriculum {
    white-space: pre-line;
    line-height: 2.4rem;
}
.about-course {
    p {
        max-width: 900px;
    }
}
.curriculum {
    border-bottom: 1px solid #9c96c931;
    cursor: pointer;
}
.curriculum:hover {
    color: $secondary;
}
.reviews__review {
    max-width: 600px;
    margin: 0 auto;
}
.curriculum__plus {
    font-size: 32px;
}
.reviews svg {
    font-size: 32px;
    padding: 5px;
    border-radius: 3px;   
    color: $secondary;
}
.explain-course {
    min-height: 50vh;
}