.cursus__laptop-image {
    background-image: url(../../public/laptop2.png);
     background-repeat: none;
  background-size: cover;
  background-position: center center;
  height: 250px;

}

.curriculum {
    white-space: pre-line;
}