.search-icon {
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
 }
 .courses-container {
  min-height: 100vh;
  margin-bottom: 200px;
}

 .filter {
     background: white;
 }
.filter h6 {
    border-bottom: 1px solid rgb(201, 201, 201) !important;
} 
.reveal-filters:hover {
    cursor: pointer;
    font-weight: 500;
}
.course__cover {
    color: $background;

    h4 {
        font-weight: 100;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 20px;
    }
}
.course-card {
    border-radius: 0px;
}
.course-card p {
  font-size: 16px;
  max-width: 650px;
}

@media (max-width: 767px) {
    .course__cover {
         h4 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    p {
        font-size: 16px;
    }
}

} 
.input-group-text {
    border-radius: 5px;
}
#select {
    border-radius: 5px;
}
.form-check-input {
    margin-left: 5px !important;
}
.custom-control-input {
    z-index: 4;
    border-radius: 5px;
}
.form-check-input:hover {
    cursor: pointer !important;
}

 .custom-checkbox .custom-control-input ~ .custom-control-label::before {
  border-radius: 0;
}

 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(255, 255, 255)!important;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: none;
  border-radius: 0;
  
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(168, 168, 168) !important; 
  
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='rgb(82, 78, 104)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
