.hoe-het-werkt img {
     filter: grayscale(100%);
     opacity: 0.3;
}
.hoe-het-werkt__overlay {
margin: 50px 0 0 30px;
  width: 88%;
  height: 80%;
  color: $background;
  background-color: $primary;
}
.hoe-het-werkt__overlay--2 {
    margin: 0px 30px 50px 0px;
  width: 88%;
  height: 90%;

}