.uitleg {
    min-height: 65vh;
}
.reviews {
    min-height: 40vh;
}
.newsletter {
    min-height: 30vh;
}
.home__about {
    min-height: 55vh;
}
.homepage-about_image-wrapper {
    height: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.homepage-about_willehad-illustration {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}