.privacyverklaring {
    h2 {
        padding-bottom: 16px;
    }
    h4, h3 {
        padding-bottom: 6px;
    }
    p {
        padding-bottom: 2rem;
    }
    h2, p, h4, h3 {
        max-width: 900px !important;
        margin: 0 auto;
    }

    li {
        font-size: 20px;
         max-width: 900px !important;
        margin: 0 auto;
        padding-bottom: 16px;
    }

}