.course-card {
    background-color: white;
}
.course-card:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.course-card:active {
    box-shadow: none !important;
}
 .card__image {
 background-repeat: none;
  background-size: cover;
  background-position: center center;
    height: 150px;
 }
 .card-overlay  {
  background: linear-gradient(
    90deg,
    rgba(82, 78, 104, 1) 0%,
    rgba(82, 78, 104, 0) 80%
  );
}
.card__image-content {
    color: rgb(235, 235, 235);
    padding: 10px;
}
.icon {
    top: 120px;
}
.color-bible {
    border-left: 4px solid $accent;
}
.color-history {
        border-left: 4px solid $secondary;
}
.color-philosophy {
             border-left: 4px solid #615CC7;

}
.color-theology {
          border-left: 4px solid #358933;

}
.color-catechesis {
          border-left: 4px solid $primary;

}