.course-card {
    background-color: white;
}
.course-card:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.course-card:active {
    box-shadow: none !important;
}
 .card__image {
     position: absolute;
    height: 100%;
    width: 100%;
 }
.card__image--content {
    position: relative;
    z-index: 2;
     background: linear-gradient(
    90deg,
    rgba(37, 36, 42, 0.733) 0%,
    rgba(37, 36, 42, 0) 100%
  );
    color: rgb(235, 235, 235);
    height: 220px;
}
.course-card h2 {
  font-size: 42px;
  color: white;
}
.course-card h4 {
        font-size: 15px !important;
        font-weight: 400;
    }

.card__details {
    max-width: 650px;
}
@media (min-width: 1441px) {

    .course-card p {
        font-size: 18px !important;
    }
    .card__image--content {
        height: 300px;
    }
}