.jumbotron p {
  color: white;
}
.jumbotron__content-date {
  font-size: 22px;
  border-bottom: 2px solid $secondary;
  font-style: italic;
}
.jumbotron__content-title {
  font-family: $playfair;
  font-size: 84px;
  line-height: 78px;
}
.jumbotron__content-subtitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
}
.jumbotron__content-subtitle--header {
  font-size: 22px !important;
}
.jumbotron__content-type {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__image {
       position: absolute;
    height: 60vh;
}
.header__image--content {
      position: relative;
    z-index: 2;
    background: linear-gradient(
    90deg,
    rgba(37, 36, 42, 0.733) 0%,
    rgba(37, 36, 42, 0.164) 100%
  );
    color: rgb(235, 235, 235);
}
.header__image--container {
  width: 100vw;
}

.video {
  position: absolute;
  object-fit: cover;
}

.jumbotron__video {
  p {
    color: white;
  }
  position: relative;
    overflow: hidden;
}

.jumbotron-overlay__video {
  position: relative;
  z-index: 1;
   background: linear-gradient(
    90deg,
    rgba(37, 36, 42, 0.493) 0%,
    rgba(37, 36, 42, 0) 100%
  );
}
@media (max-width: 769px) { 
    .jumbotron__content-title {
      font-size: 48px;
    }
}