
#logo {
  color: $background;
  font-size: 36px;
}
.menu {
  background-color: $primary;
}
.menu__container {
  height: 60.45px;
}
.menu__link {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $background;
}
.menu__link:hover {
  color: $secondary;
}
.menu__link--light {
  font-weight: 400;
  font-size: 14px;
  color: $background;
  text-transform:uppercase;
}
.menu__link--light:hover {
  color: $background;
}
.hamburger {
  width: 48px;
  position: absolute;
  right: 0;
  z-index: 5;
}
.hamburger__menu {
  height: 100vh;
  transition: margin 700ms;
  transition-timing-function: ease-out;
}
.hamburger__menu--close {
  z-index: 4;
  margin-left: 100vw;
  .background-blue {
    width: 80vw;
  }
  a.text-right {
    line-height: 4em;
    font-size: 18px;
  }
}
.logo-container {
 z-index: 3;

 a {
   color: $background;
   font-family: $playfair;
   font-size: 36px;
 }
  
}
.hamburger__menu--open {
  z-index: 4;
  .background-blue {
      width: 80vw;
      height: 100vh;
  }
  a.text-right {
    line-height: 4em;
    font-size: 18px;
  }
}

@media (min-width: 576px) { 
  .hamburger__menu--close {
    .background-blue {
    width: 45vw;
  }
  }
  .hamburger__menu--open {
    .background-blue {
        width: 45vw;
        height: 100%;
    }
  }

}
.menu-transparent {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 4;
}
.menu-transparent.on {
  background-color: rgba(0, 0, 0, 0.466);
}
.menu-transparent.off {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(246, 246, 246)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
