
#logo {
  color: $background;
  font-size: 36px;
}
.menu {
  background-color: $primary;
}
.menu__container {
  height: 60.45px;
}
.menu__link {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $background;
}
.menu__link:hover {
  color: $secondary;
}
.menu__link--light {
  font-weight: 400;
  font-size: 14px;
  color: $background;
  text-transform:uppercase;
}
.menu__link--light:hover {
  color: $background;
}
.hamburger {
  width: 48px;
  position: absolute;
  right: 0;
  z-index: 5;
}
.hamburger__menu {
  transition: width 2s;
}

.hamburger__menu--open {
  z-index: 4;
  width: 500px;
  margin-left: 20%;
  transition: width 2s;

  a.text-right {
    line-height: 4em;
    font-size: 18px;
  }
}