.newsletter input {
  padding: 5px;
  border: none;
}
.newsletter {
  background: url("/stone-background.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 80px 0;
}