
.button__primary {
    border: none;
    background-color: $accent;
    font-weight: 400;
    font-size: 22px;
    color: white;
        border-radius: 2px;
}
.button__primary:hover {
    background-color: #751e1e;
    cursor: pointer;
}
.button__primary:active {
    background-color: $accent;
    color: $background;
    cursor: pointer;
    a {
        color: $background;
    }
}
.button__primary:focus {
    background-color: #751e1e;
    color: $background;
    cursor: pointer;
    a {
        color: $background;
    }
}
.button__primary--dark {
    border: none;
    background-color: $primary;
    font-weight: 400;
    font-size: 22px;
    color: white;
    border-radius: 2px;
}
.button__primary--dark:hover {
    background-color: #373547;
    cursor: pointer;
}

.button__secondary--light {
    border: 2px solid white;
    background-color: transparent;
    font-weight: 400;
    font-size: 22px;
    color: $white;
    max-width: 200px;
    border-radius: 2px;
}
.button__secondary--light:hover {
    outline: 0.75px solid white;
}

.button__secondary--light::before {
    display: block;
    content: attr(title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.button__secondary--dark {
    border: 2px solid $accent;
    background-color: transparent;
    border-radius: 2px !important;
    font-weight: 400;
    font-size: 22px;
    color: $accent;
}
.button__secondary--dark:hover {
    //  outline: 1px solid $accent;
    border-color: #751e1e;
    color: #751e1e;
    font-weight: 400;
}

.button__secondary--dark::before {
    display: block;
    content: attr(title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
button.disabled {
    background-color: #886423;
}
.button__alarm {
    border: none;
    background-color: $accent;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
        border-radius: 2px;
}
.button__alarm:hover {
    background-color: #702020;
}