
.button__primary {
    border: none;
    background-color: $secondary;
    font-weight: 400;
    font-size: 22px;
    color: white;
    max-width: 200px;
        border-radius: 2px;
}
.button__primary:hover {
    background-color: $secondary-dark;
    cursor: pointer;
}
.button__primary--dark {
    border: none;
    background-color: $secondary;
    font-weight: 400;
    font-size: 22px;
    color: white;
    border-radius: 2px;
}
.button__primary--dark:hover {
    background-color: $secondary-dark;
    cursor: pointer;
}

.button__secondary--light {
    border: 1px solid white;
    background-color: transparent;
    font-weight: 400;
    font-size: 22px;
    color: $white;
    max-width: 200px;
    border-radius: 2px;
}
.button__secondary--light:hover {
    outline: 1px solid white;
    font-weight: 500;
}

.button__secondary--light::before {
    display: block;
    content: attr(title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.button__secondary--dark {
    border: 1px solid $secondary;
    background-color: transparent;
    font-weight: 400;
    font-size: 22px;
    color: $secondary;
    max-width: 200px;
}
.button__secondary--dark:hover {
    outline: 1px solid $secondary-dark;
    font-weight: 500;
}

.button__secondary--dark::before {
    display: block;
    content: attr(title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.button__dashboard:hover {
    background-color: $primary;
    color: white;
    cursor: pointer;
}
.button__dashboard:active {
    box-shadow: none !important;
    background-color: $primary;
    color: white;
}