body {
  background-color: $background;
  color: $primary;
  font-size: 18px;
}
footer {
  background-color: $primary;
  color: $background;

  a {
    color: $background;
  }
}
img {
  object-fit: cover;
}
.background-light {
  background-color: $background !important;
}
.background-white {
 background-color: white;
}
.background-blue {
  background: $primary;
  color: $background;
}
.alert {
  color: $accent;
}
#nprogress .bar {
  background: $secondary;

}
#nprogress .peg {
  box-shadow: none;

}
#nprogress .spinner-icon {
  display: none;
  border-top-color: $secondary;
  border-left-color: $secondary;
  margin-top: 5px;
}