$background: #F6F6F6;
$background-dark: #282833;
$lightgrey-background: #E9E7DF;
$primary: #524E68;
$secondary: #D9A13B;
$secondary-dark: #b6872f;
$accent: #8B2929;
$transparant-background: rgba($color: #d9a13b, $alpha: 0.35);
$paragraph-background-dark: #C5C5CC;
$sans-serif: 'proxima-nova', sans-serif; 

$playfair: 'freight-big-pro', serif;
$logo-font: 'playfair-display', serif;

p {
  text-align: justify;
}

@media (max-width: 767px) { 
    p {
        font-size: 16px !important;
        line-height: 32px !important;
    }
    .jumbotron__content-title {
  font-size: 58px !important;
  line-height: 68px !important;
}
.jumbotron__content-subtitle {
  font-size: 22px !important;
}
.jumbotron__content-type {
  font-size: 22px !important;
}
.jumbotron__content-date {
  font-size: 20px !important;
  border-bottom: 2px solid $secondary;
  font-style: italic;
}
}

@media (min-width: 1600px) { 
    .container {
        min-width: 1200px !important;
    }
}
@media (min-width: 2000px) { 
    // .container {
    //     min-width: 1400px !important;
    // }
    .menu__link {
        font-size: 16px !important;
    }
    footer p, footer a {
        font-size: 16px !important;
    }
    .footer__icon {
        font-size: 26px !important;
    }
}