$background: #F6F6F6;
$primary: #524E68;
$secondary: #D9A13B;
$accent: #8C2A2A;
$transparant-background: rgba($color: #d9a13b, $alpha: 0.35);

$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

@media (min-width: 1600px) { 
    .container {
        min-width: 1200px !important;
    }
}
@media (min-width: 2000px) { 
    .container {
        min-width: 1400px !important;
    }
}