$background: #F6F6F6;
$lightgrey-background: #E9E7DF;
$lightgold: #e0dbc5;
$primary: #292836;
$secondary: #b68832;
$secondary-dark: #946e29;
$secondary-light: #d9a13b;
$accent: #8C2A2A;
$transparant-background: rgba($color: #d9a13b, $alpha: 0.35);
$transparant-background-red: rgba($color: #8C2A2A, $alpha: 0.20);
$paragraph-background-dark: #C5C5CC;
$sans-serif: 'proxima-nova', sans-serif;
$playfair: 'freight-big-pro', serif;



@media (min-width: 1600px) { 
    .container {
        min-width: 1200px !important;
    }
}
@media (min-width: 2000px) { 
    .container {
        min-width: 1400px !important;
    }
    p {
        font-size: 18px;
    }
    .menu__link {
        font-size: 16px !important;
    }
    footer p, footer a {
        font-size: 16px !important;
    }
    .footer__icon {
        font-size: 26px !important;
    }
}