body {
  font-family: $sans-serif;
  font-weight: 300;
    line-height: 1.7rem;
}
p {
  font-size: 20px;
  line-height: 1.6;

}
#logo {
  font-family: $playfair;
}
.error {
  color: $accent;
  font-weight: 500;
}
h1 {
  color: $primary !important;
  font-family: $playfair;
  font-size: 42px;
}
h2 {
  font-family: $playfair;
  font-size: 36px;
}
h3 {
  font-family: $playfair;
  font-size: 32px;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
p.short-about-course__date {
  font-weight: 500;
}
.p-bold {
  font-weight: 500;
}
label {
  font-weight: 400;
}
a:hover {
  text-decoration: none;
  color: black;
}
a::before {
  display: block;
  content: attr(title);
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.form-control {
  font-weight: 300;
}

.inbox__message {
  white-space: pre-line
}
.register__alarm {
  color: $accent;
}
.dashboard-menu__icon:hover {
  cursor: pointer;
}
.text-small {
  font-size: 14px;
}
.course-card p {
  line-height: 1.4em;
}