body {
  font-family: $sans-serif;
  font-weight: 300;
    line-height: 1.7rem;
}
#logo {
  font-family: $playfair;
}
.jumbotron__content-title {
  font-family: $playfair;
  font-size: 58px;
  line-height: 68px;
}
.jumbotron__content-subtitle {
  font-size: 22px;
}
.error {
  color: $accent;
  font-weight: 500;
}
h1 {
  color: $primary !important;
  font-family: $playfair;
  font-size: 32px;
}
h2 {
  font-family: $playfair;
  font-size: 24px;
}
.hoe-het-werkt__title {
  background-color: $transparant-background;
}
h3 {
  font-family: $playfair;
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
p.short-about-course__date {
  font-weight: 500;
}
label {
  font-weight: 400;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.menu__link--logout {
  text-transform: uppercase;
  font-size: 14px;
}
.menu__link--logout:hover {
  cursor: pointer;
}
footer p {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
footer a {
  font-size: 14px;
}
.footer__terms {
  font-weight: 300;
  font-size: 14px;
  text-transform: lowercase;
}
a:hover {
  text-decoration: none;
  color: black;
}
a::before {
  display: block;
  content: attr(title);
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.review__name {
  font-style: italic;
}
.form-control {
  font-weight: 300;
}

.inbox__message {
  white-space: pre-line
}
.register__alarm {
  color: $accent;
}
.dashboard-menu__icon:hover {
  cursor: pointer;
}
.text-small {
  font-size: 14px;
}